
.block_site_main_menu {

	.activity {
		a {
			color: inherit;
		}

		img.activityicon {
			width: 16px;
		    position: relative;
		    top: -.1rem;
		}

	}
}



.block_fake.menu {

	ul {
		margin:0;
	  	padding: 0;
	  	list-style: none;

	  	a {
	  	  	color: inherit;
	  	}

	  	li {
		  	&.selected {
			  font-weight: bold;
		  	}
		}
	}
}
