<div data-region="courses-view" data-display="card" data-grouping="all" data-customfieldname="" data-customfieldvalue="" data-sort="fullname" data-prev-display="card" data-paging="12" data-totalcoursecount="{{{courseCount}}}" data-displaycategories="on" ><div id="paged-content-container-1" data-region="paged-content-container">
    <div id="page-container-1" data-region="page-container" class="paged-content-page-container" aria-live="polite" style="">
        <div data-region="paged-content-page" data-page="1" class="">
            <div class="card-deck dashboard-card-deck" id="co_over_courses" data-region="card-deck" role="list">
                {{#allcourses}}
                    <div class="card dashboard-card" role="listitem" data-region="course-content" data-course-id="2">
                        <a href="http://localhost/lmis-moodle/course/view.php?id={{{id}}}" tabindex="-1">
                            <div class="card-img dashboard-card-img" style='background-image: url("{{{courseimageurl}}}");'>
                                <span class="sr-only">
                                    {{#str}}
                                    aria:courseimage, block_course_overview
                                    {{/str}}
                                </span>
                            </div>
                        </a>
                        <div class="card-body pr-1 course-info-container" id="course-info-container-2-4">
                            <div class="d-flex align-items-start">
                                <div class="w-100 text-truncate">
                                    <a href="http://localhost/lmis-moodle/course/view.php?id={{id}}" class="aalink coursename mr-2 mb-1">
                                        <span class="sr-only">
                                            {{#str}}
                                            aria:coursename, block_course_overview{{/str}}
                                        </span>
                                        <span class="multiline">
                                            {{{fullname}}}
                                        </span>
                                    </a>
                                    <div class="text-muted muted d-flex flex-wrap">
                                        <span class="sr-only">
                                            {{#str}}aria:coursecategory, block_course_overview{{/str}}
                                        </span>
                                        <span class="categoryname text-truncate">
                                            {{{courseCategory}}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-start">
                            <div class="card-footer dashboard-card-footer border-0 bg-white w-100" id="co_over_progress">
                                {{> block_course_overview/progress-bar }}
                            </div>
                        </div>
                    </div>
                {{/allcourses}}
            <div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
       
</div>