<div class="row" style="padding-bottom: 10px; padding-left: 15px;">
    {{#displaygroupingall}}
        <button class="btn co_over btn-primary" id="co_over_all" value="all">ALL courses</button>
    {{/displaygroupingall}}
    {{#displaygroupingfuture}}
        <button class="btn co_over" id="co_over_future" value="future">Upcoming courses</button>
    {{/displaygroupingfuture}}
    {{#displaygroupingpast}}
        <button class="btn co_over" id="co_over_past" value="past">Past courses</button>
    {{/displaygroupingpast}}
    {{#displaygroupinginprogress}}
        <button class="btn co_over" id="co_over_inProgress" value="inProgress">In Progress courses</button>
    {{/displaygroupinginprogress}}
        
</div>
<div class="container-fluid p-0" id="main_co_over">
    {{#allhtml}}
        <div data-region="courses-view" id="co_over_courses" data-display="card" data-grouping="all" data-customfieldname="" data-customfieldvalue="" data-sort="fullname" data-prev-display="card" data-paging="12" data-totalcoursecount="{{{courseCount}}}" data-displaycategories="on" ><div id="paged-content-container-1" data-region="paged-content-container">
            <div id="page-container-1" data-region="page-container" class="paged-content-page-container" aria-live="polite" style="">
                <div data-region="paged-content-page" data-page="1">
                    <div class="card-deck dashboard-card-deck"  data-region="card-deck" role="list">
                        {{#allcourses}}
                            {{> block_course_overview/Courses }}
                        {{/allcourses}}
                    <div>
                </div>
            </div>
            <div id="pagination_co_over">
                {{> block_course_overview/pagination }}
            </div>
        </div>
    {{/allhtml}}
    {{#futurehtml}}
        <div data-region="courses-view" id="co_over_courses" data-display="card" data-grouping="all" data-customfieldname="" data-customfieldvalue="" data-sort="fullname" data-prev-display="card" data-paging="12" data-totalcoursecount="{{{courseCount}}}" data-displaycategories="on" ><div id="paged-content-container-1" data-region="paged-content-container">
            <div id="page-container-1" data-region="page-container" class="paged-content-page-container" aria-live="polite" style="">
                <div data-region="paged-content-page" data-page="1" class="">
                    <div class="card-deck dashboard-card-deck" data-region="card-deck" role="list">
                        {{#futurecourses}}
                            {{> block_course_overview/Courses }}
                        {{/futurecourses}}
                    <div>
                </div>
            </div>
                <div id="pagination_co_over">
                    {{> block_course_overview/pagination }}
                </div>
        </div>
    {{/futurehtml}}
    {{#pasthtml}}
        <div data-region="courses-view" id="co_over_courses" data-display="card" data-grouping="all" data-customfieldname="" data-customfieldvalue="" data-sort="fullname" data-prev-display="card" data-paging="12" data-totalcoursecount="{{{courseCount}}}" data-displaycategories="on" ><div id="paged-content-container-1" data-region="paged-content-container">
            <div id="page-container-1" data-region="page-container" class="paged-content-page-container" aria-live="polite" style="">
                <div data-region="paged-content-page" data-page="1" class="">
                    <div class="card-deck dashboard-card-deck" data-region="card-deck" role="list">
                        {{#pastcourses}}
                            {{> block_course_overview/Courses }}
                        {{/pastcourses}}
                    <div>
                </div>
            </div>
                <div id="pagination_co_over">
                    {{> block_course_overview/pagination }}
                </div>
        </div>
    {{/pasthtml}}
    {{#inProgresshtml}}
        <div data-region="courses-view" id="co_over_courses" data-display="card" data-grouping="all" data-customfieldname="" data-customfieldvalue="" data-sort="fullname" data-prev-display="card" data-paging="12" data-totalcoursecount="{{{courseCount}}}" data-displaycategories="on" ><div id="paged-content-container-1" data-region="paged-content-container">
            <div id="page-container-1" data-region="page-container" class="paged-content-page-container" aria-live="polite" style="">
                <div data-region="paged-content-page" data-page="1">
                    <div class="card-deck dashboard-card-deck" data-region="card-deck" role="list">
                        {{#inProgresscourses}}
                            {{> block_course_overview/Courses }}
                        {{/inProgresscourses}}
                    <div>
                </div>
            </div> 
            <div id="pagination_co_over">
                {{> block_course_overview/pagination }}
            </div>
        </div>
    {{/inProgresshtml}}
</div>
