<div class="row" style="padding-bottom: 10px; padding-left: 15px;">
    <button class="btn co_over btn-primary" id="co_over_all" value="all">ALL courses</button>
    <button class="btn co_over" id="co_over_future" value="future">Upcoming courses</button>
    <button class="btn co_over" id="co_over_past" value="past">Past courses</button>
    <button class="btn co_over" id="co_over_inProgress" value="inProgress">In Progress courses</button>
        
</div>
<div class="container-fluid p-0">
    {{> block_course_overview/AllCourses }}
</div>
