{{#progress}}
    <div class="progress">
        <span class="sr-only">{{#str}}aria:courseprogress, block_course_overview{{/str}}</span>
    
        <div class="progress-bar" role="progressbar" style="width: {{{progress}}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{{progress}}} %  </div>
        
    </div>
{{/progress}}